#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

main {
    display: flex; 
    justify-content: center;
}

#main-content {
    flex: 0 1 80%;
}

.header {
    flex: 1 0 100%;
    text-align: center;
}